# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hspedu_springmvc\springmvc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
